@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.hero{
  font-family: 'Exo', sans-serif;
 
}

.bg-clip-text {
        -webkit-background-clip: text;
        background-clip: text;
      }
      .text-transparent {
        color: transparent;
      }
      @keyframes bounce {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }
      .animate-bounce {
        animation: bounce 2s infinite;
      }